.results__container {
  display: flex;
  flex-wrap: wrap;
}

.results__section {
  width: 33.333%;
  padding: 5px;
  margin: 10px 0;
}

.results__section-subsections {
  display: flex;
}

.results__section-subsection {
  width: 50%;
}

.results__answer {
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .results__section {
    width: 100%;
    padding: 0;
  }
}
