.question {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #f5f5f5;
}

.question__title {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
}

.question__section-title {
  margin-left: 5px;
}

.question__subsection-title {
  margin-left: 5px;
}

.question__answer {
  padding: 10px;
}

.question__answer:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
