.questions-config {
  padding: 5px;
}

.questions-config__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questions-config__container_hidden {
  display: none;
}

.questions-config__section {
  width: 32%;
  padding: 5px;
  margin: 10px 0;
}

.questions-config__title {
  padding: 0 10px 10px;
  margin: 0 -10px 10px;
  border-bottom: 1px solid var(--grey-color);
}

.questions-config__subsection-title {
  padding: 10px;
  margin: -10px -10px 10px;
  border-bottom: 1px solid var(--grey-color);
  background: var(--light-grey-color);
}

.questions-config__question:not(:last-child) {
  margin-bottom: 10px;
}

.questions-config__subsections {
  display: flex;
}

.questions-config__subsection {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .questions-config__section {
    width: 100%;
    padding: 0;
  }
}
