.card {
  box-shadow: rgba(0, 0, 0, .2) 0px 1px 5px;
}

.card__title {
  padding: 10px;
  border-bottom: 1px solid var(--grey-color);
}

.card__subsections:not(:empty) {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--grey-color);
  background: var(--light-grey-color);
}

.card__subsections > * {
  width: 50%;
}

.card__body {
  padding: 10px;
}
