:root {
  --main-color: #865CD6;
  --grey-color: #ccd3da;
  --blue-color: #00cceb;
  --light-grey-color: rgb(245, 245, 245);
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-body {
  margin: 0 auto;
  padding: 15px;
}

h1 {
  margin: 0 0 15px;
}

h2 {
  margin: 0 0 10px;
}

h3 {
  margin: 0 0 5px;
}
